@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
    width: 100%;
    height: 4px;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
}

progress::-webkit-progress-value {
    background-color: #f2b90c;
}

body {
    background-color: #2f0764;
    background-image: url("./public/smoke.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.active {
    background-color: #f2b90c;
    color: #2f0764;
}
